#widget_box {
  font-family: Arial, Helvetica, sans-serif;
  width: 182px;
  height: auto;
  padding: 5px;
  border: 1px solid #eeeeee;
  border-bottom: 0; }

#widget_title {
  font-size: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #444444;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee; }

#widget_text {
  font-size: 23px;
  color: #2288bb;
  font-weight: bold;
  margin: 5px 0; }

#widget_bottom {
  background: #444455;
  padding: 7px;
  display: block;
  border: 1px solid #eeeeee;
  width: 178px;
  display: table; }
  #widget_bottom a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
    display: table-cell; }
    #widget_bottom a:first-child {
      background: #444455 url(/images/bic_index/add_betterif.png) no-repeat 0 0;
      line-height: 20px;
      padding-left: 20px; }
    #widget_bottom a:hover {
      color: #33aaee; }

a#widget_results {
  text-decoration: none;
  text-align: right;
  font-weight: normal;
  font-size: 11px;
  color: white;
  display: table-cell; }
  a#widget_results:hover {
    color: #33aaee; }
